@{
    Layout = "_Layout";
    ViewData["Title"] = "Products-Page";
}
@model List<ApplicationLayer.DTOs.ProductDTO>

<link rel="stylesheet" href="~/Product/search.css">
<link rel="stylesheet" href="~/css/Supplier/NotificationMsg.css">
<link rel="stylesheet" href="~/css/NoDataFound.css">
<link rel="stylesheet" href="~/css/TableAndStuff.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/animate.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/aos.css">
<link rel="stylesheet" href="~/LayoutAssets/css/style.css">



<div class="page-heading bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7" style="padding-top:20px">
                <h1>Products</h1>
                <p class="mb-4"><a href="#">Products</a> / <strong>Inventory<span>@TempData["search"]</span></strong></p>

                <div class="mb-5">
                    <a asp-action="Add" class="btn btn-outline-black btn-sm btn-block">Add New Product</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">

    @if (Model.Count == 0 || Model == null)
    {
        <div class="d-flex justify-content-center">
            <div class="no-data flex-column" style="padding-top:40px;">
                <div class="no-data-animation"></div>
                <div id="No-Data-Error" class=" container text-center" style="
                                            display:flex;align-items:center;justify-content:center;color:white;
                                            transition:all 0.9s; margin-top:40px;margin-bottom:40px">
                    There are No Results Sorry...
                </div>
            </div>
        </div>
    }
    else
    {


        <form class="mt-2" method="get" asp-action="GetByName" asp-controller="Product" id="form-search">

            <div class="searchbar" id="search-bar">
                <div class="searchbar-wrapper">
                    <div class="searchbar-left">
                        <div class="search-icon-wrapper">
                            <span class="search-icon searchbar-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="searchbar-center">
                        <div class="searchbar-input-spacer"></div>
                        <label class="d-none" for="name"></label>
                        <input id="search-input" type="text" class="searchbar-input" maxlength="2048" name="name" autocapitalize="off"
                           autocomplete="off" title="Search" role="combobox" placeholder="Search For Product">
                    </div>

                    <div class="searchbar-right d-flex flex-column justify-content-center" onclick="submitForm()">
                        <svg viewBox="0 0 24 24" class="style-scope hoverable yt-icon"
                         style="cursor:pointer; display: block; width: 30px; height: 30px; transform: scale(-1, 1);">
                            <g mirror-in-rtl="" class="style-scope yt-icon"><path d="M21,11v1H5.64l6.72,6.72l-0.71,0.71L3.72,11.5l7.92-7.92l0.71,0.71L5.64,11H21z" class="style-scope yt-icon"></path></g>
                        </svg>
                    </div>
                </div>
            </div>
        </form>




        <div class="container">

            <div class="row mb-5">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-quantity">Alert Quantity</th>
                                <th class="product-remove">Remove</th>
                                <th class="product-remove">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <img data-bs-toggle="modal" data-bs-target="#staticBackdrop" src="@item.Image" alt="Image" class="img-fluid" onclick="showInfo(@item.Id)" style="cursor:pointer">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@item.Name</h2>
                                    </td>
                                    <td>$@item.Price</td>
                                    <td>
                                        @if (@item.Quantity > 0)
                                        {
                                            <span>@item.Quantity</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    </td>
                                    <td>@item.AlertQuantity</td>

                                    <td>
                                        <form id="del-@item.Id" style="margin-right:10px;" method="post" action="@Url.Action("Delete", "Product")">
                                            <label class="d-none" for="id">ID:</label>
                                            <input type="number" name="id" class="d-none" value="@item.Id" />
                                        </form>
                                        <a onclick="submitDelete(@item.Id)" class="btn btn-black btn-sm">X</a>
                                    </td>
                                    <td>
                                        <form id="edit-@item.Id" style="margin-right:10px;" method="post" action="@Url.Action("Edit", "Product")">
                                            <label class="d-none" for="id">ID:</label>
                                            <input type="number" name="id" class="d-none" value="@item.Id" />
                                        </form>
                                        <a onclick="submitEdit(@item.Id)" style="cursor:pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30px" height="30px">
                                                <path d="M 43.125 2 C 41.878906 2 40.636719 2.488281 39.6875 3.4375 L 38.875 4.25 L 45.75 11.125 C 45.746094 11.128906 46.5625 10.3125 46.5625 10.3125 C 48.464844 8.410156 48.460938 5.335938 46.5625 3.4375 C 45.609375 2.488281 44.371094 2 43.125 2 Z M 37.34375 6.03125 C 37.117188 6.0625 36.90625 6.175781 36.75 6.34375 L 4.3125 38.8125 C 4.183594 38.929688 4.085938 39.082031 4.03125 39.25 L 2.03125 46.75 C 1.941406 47.09375 2.042969 47.457031 2.292969 47.707031 C 2.542969 47.957031 2.90625 48.058594 3.25 47.96875 L 10.75 45.96875 C 10.917969 45.914063 11.070313 45.816406 11.1875 45.6875 L 43.65625 13.25 C 44.054688 12.863281 44.058594 12.226563 43.671875 11.828125 C 43.285156 11.429688 42.648438 11.425781 42.25 11.8125 L 9.96875 44.09375 L 5.90625 40.03125 L 38.1875 7.75 C 38.488281 7.460938 38.578125 7.011719 38.410156 6.628906 C 38.242188 6.246094 37.855469 6.007813 37.4375 6.03125 C 37.40625 6.03125 37.375 6.03125 37.34375 6.03125 Z" />
                                            </svg>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12" style="overflow:hidden">
                    <img id="img-src-edit" class="img-fluid">
                </div>
                <div class="col-12 mt-5">
                    <h3 class="text-center m-1">Description</h3>
                    <div id="productSpecification" class="text-center"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">UMMM</button>
            </div>
        </div>
    </div>
</div>



@{
    if (TempData["Success"] != null)
    {
        if (TempData["Success"].ToString() == "True")
        {
            <div class="card-msg" style="position:fixed;right:2%;bottom:2%; border: 2px #eaeaea  solid" id="note-msg">
                <div class="header-msg">
                    <span class="icon-msg">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <p class="alert-msg">Server Responds !!!!</p>
                </div>

                <p class="message-for-notify">
                    @TempData["Message"]
                </p>

                <div class="actions-msg" style="cursor:pointer;">
                    <a class="read-msg">
                        Got it
                    </a>

                </div>
            </div>

        }
        else if (TempData["Success"].ToString() == "False")
        {
            <div class="card-msg" style="position:fixed;right:2%;bottom:2%; border: 2px #eaeaea  solid" id="note-msg">
                <div class="header-msg">
                    <span class="icon-msg">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <p class="alert-msg">Server Responds !!!!</p>
                </div>

                <p class="message-for-notify">
                    @TempData["Message"]
                </p>

                <div class="actions-msg" style="cursor:pointer;">
                    <a class="read-msg">
                        Got it
                    </a>

                </div>
            </div>

        }
    }
}

@{
    if (TempData["deleted"] != null)
    {
        if (TempData["deleted"].ToString() == "True")
        {
            <div class="card-msg" style="position:fixed;right:2%;bottom:2%; border: 2px #eaeaea  solid " id="note-msg">
                <div class="header-msg">
                    <span class="icon-msg">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <p class="alert-msg">Server Responds !!!!</p>
                </div>

                <p class="message-for-notify">
                    @TempData["Message"]
                </p>

                <div class="actions-msg" style="cursor:pointer;">
                    <a class="read-msg">
                        Got it
                    </a>

                </div>
            </div>

        }
        else if (TempData["deleted"].ToString() == "False")
        {
            <div class="card-msg" style="position:fixed;right:2%;bottom:2%; border: 2px #eaeaea  solid" id="note-msg">
                <div class="header-msg">
                    <span class="icon-msg">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <p class="alert-msg">Server Responds !!!!</p>
                </div>

                <p class="message-for-notify">
                    @TempData["Message"]
                </p>

                <div class="actions-msg" style="cursor:pointer;">
                    <a class="read-msg">
                        Got it
                    </a>

                </div>
            </div>

        }
    }
}



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe " crossorigin="anonymous"></script>
    <script src="~/LayoutAssets/js/aos.js"></script>
    <script src="~/LayoutAssets/js/jq.js"></script>
    <script src="~/LayoutAssets/js/jquery.sticky.js"> </script>
    <script src="~/LayoutAssets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@@2.0.12"></script>
    <script>
        function submitEdit(number) {
            let formId = "#edit-" + number;
            console.log(formId)
            $(formId).submit()
        }
        function submitDelete(number) {
            let formId = "#del-" + number;
            console.log(formId)
            $(formId).submit()
        }
        // get the model into JS
        var SupplierDTOList = @Html.Raw(Json.Serialize(Model));
        console.log(SupplierDTOList);


        $('.actions-msg').click(() => {
            $('#note-msg').fadeOut()
        })



        function submitForm() {
            let searchValue = $('#search-input').val();
            if (searchValue == '') { }
            else {
                $('#form-search').submit()
            }
        }




    </script>



    <script>



        var productDTOList = @Html.Raw(Json.Serialize(Model));
        console.log(productDTOList);

        function showInfo(clickedId) {


            let productDTO;

            for (var i = 0; i < productDTOList.length; i++) {
                productDTO = productDTOList[i];


                if (parseInt(productDTO.id) == parseInt(clickedId)) {
                    console.log("the product is");
                    console.log(productDTO);
                    break;
                }

            }

            let specification = productDTO.description;
            console.log(specification)

            $('#productSpecification').html(specification);



            var imageElement = document.querySelector('#img-src-edit');


            imageElement.setAttribute('src', productDTO.image);

        }
    </script>

    <script>

        $('#product').addClass('active');
    </script>
}