@{
    Layout = "_Layout";
    ViewData["Title"] = "Order Items Page";
}
@model ApplicationLayer.DTOs.OrderDTO

<link rel="stylesheet" href="~/Product/search.css">
<link rel="stylesheet" href="~/css/Supplier/NotificationMsg.css">
<link rel="stylesheet" href="~/css/NoDataFound.css">
<link rel="stylesheet" href="~/css/TableAndStuff.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/animate.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/LayoutAssets/css/aos.css">
<link rel="stylesheet" href="~/LayoutAssets/css/style.css">



<div class="page-heading bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7" style="padding-top:20px">
                <h1>Orders</h1>
                <p class="mb-4"><a href="#">Orders</a> / <strong>Inventory</strong></p>

            </div>
        </div>
    </div>
</div>


<div class="container">

    @if ( Model == null)
    {
        <div class="d-flex justify-content-center">
            <div class="no-data flex-column" style="padding-top:40px;">
                <div class="no-data-animation"></div>
                <div id="No-Data-Error" class=" container text-center" style="
                                            display:flex;align-items:center;justify-content:center;color:white;
                                            transition:all 0.9s; margin-top:40px;margin-bottom:40px">
                    There are No Results Sorry...
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">

            <div class="row mb-5">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Product Image</th>
                                <th class="product-thumbnail">Product Name</th>
                                <th class="product-thumbnail">Quantity</th>
                                <th class="product-name">Total Price</th>
                                <th class="product-quantity">Saled At </th>
                                @*<th class="product-remove">See The Order Items</th>*@
                                @*<th class="product-remove">Edit</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="@item.Product.Image" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-thumbnail">
                                        @item.Product.Name
                                    </td>
                                    <td class="product-thumbnail">
                                        @item.Quantity
                                    </td>
                                    <td class="product-name">
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.CreatedAt
                                    </td>
                                    @*

                            <td>
                            <form id="del-@item.Id" style="margin-right:10px;" method="post" action="@Url.Action("Delete", "Product")">
                            <label class="d-none" for="id">ID:</label>
                            <input type="number" name="id" class="d-none" value="@item.Id" />
                            </form>
                            <a onclick="submitDelete(@item.Id)" class="btn btn-black btn-sm">X</a>
                            </td>*@
                                  @*  <td>
                                        <form id="edit-@item.Id" style="margin-right:10px;" method="post" action="@Url.Action("GetItems", "Orders")">
                                            <label class="d-none" for="id">ID:</label>
                                            <input type="number" name="id" class="d-none" value="@item.Id" />
                                        </form>
                                        <a onclick="submitEdit(@item.Id)" style="cursor:pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="44px" height="44px" viewBox="0 -2 1028 1028" fill="#000000" class="icon" version="1.1">

                                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                                <g id="SVGRepo_iconCarrier">

                                                    <path d="M91.448447 896c-50.086957 0-91.428571-40.546584-91.428571-91.428571V91.428571C0.019876 41.341615 40.56646 0 91.448447 0h671.006211c50.086957 0 91.428571 40.546584 91.428572 91.428571v337.093168l-3.180124-0.795031c-13.515528-3.975155-26.236025-5.565217-40.546584-5.565217h-0.795031l-0.795031-2.385093h-2.385094V91.428571c0-23.055901-20.670807-43.726708-43.726708-43.726708H91.448447c-23.055901 0-43.726708 20.670807-43.726708 43.726708v713.142858c0 23.055901 20.670807 43.726708 43.726708 43.726708h352.198758l0.795031 0.795031c8.745342 11.925466 3.975155 20.670807 0.795031 27.031056-3.180124 5.565217-4.770186 9.540373 0.795031 15.10559l4.770186 4.770186H91.448447z" fill="" />

                                                    <path d="M143.125466 174.906832c-8.745342 0-15.900621-11.130435-15.900621-24.645962 0-13.515528 7.15528-24.645963 15.900621-24.645963h270.310559c8.745342 0 15.900621 11.130435 15.900621 24.645963 0 13.515528-7.15528 24.645963-15.900621 24.645962h-270.310559z" fill="" />

                                                    <path d="M413.436025 128h-270.310559c-7.15528 0-13.515528 9.540373-13.515528 22.26087s6.360248 22.26087 13.515528 22.260869h270.310559c7.15528 0 13.515528-9.540373 13.515528-22.260869s-5.565217-22.26087-13.515528-22.26087zM139.945342 302.111801c-7.15528 0-12.720497-10.335404-12.720497-24.645962s5.565217-24.645963 12.720497-24.645963h193.987577c7.15528 0 12.720497 10.335404 12.720497 24.645963s-5.565217 24.645963-12.720497 24.645962H139.945342z" fill="" />

                                                    <path d="M333.932919 255.204969H139.945342c-5.565217 0-9.540373 9.540373-9.540373 22.26087s3.975155 22.26087 9.540373 22.260869h193.987577c5.565217 0 9.540373-9.540373 9.540373-22.260869s-4.770186-22.26087-9.540373-22.26087zM734.628571 1024c-27.826087 0-58.037267-1.590062-96.993788-4.770186-56.447205-4.770186-108.124224-31.006211-158.211181-79.503106L253.634783 718.708075c-52.47205-50.881988-54.857143-117.664596-7.950311-168.546584 19.875776-20.670807 50.881988-33.391304 84.273292-33.391305 33.391304 0 63.602484 12.720497 82.68323 34.981367 0.795031 0.795031 2.385093 2.385093 5.565217 3.975155 0.795031 0.795031 2.385093 1.590062 3.180124 2.385093V451.57764v-52.47205c0-40.546584 0-81.888199 0.795031-122.434783 0.795031-60.42236 47.701863-106.534161 109.714286-106.534161h0.795031c59.627329 0 104.944099 43.726708 108.124224 103.354037 0.795031 13.515528 0.795031 27.826087 0 42.136646v18.285714h11.925466c41.341615 0 73.142857 14.310559 96.198757 44.52174 0.795031 1.590062 5.565217 3.180124 11.925466 3.180124 2.385093 0 4.770186 0 6.360249-0.795031 7.15528-0.795031 14.310559-1.590062 20.670807-1.590062 31.801242 0 59.627329 12.720497 83.478261 38.956521 3.975155 3.975155 12.720497 7.15528 20.670807 7.15528h3.180125c5.565217-0.795031 11.925466-1.590062 17.490683-1.590062 59.627329 0 107.329193 42.136646 108.124224 96.993789 2.385093 100.968944 3.975155 200.347826-7.15528 298.931677-13.515528 119.254658-77.118012 182.857143-201.142857 198.757764-23.055901 3.975155-49.291925 5.565217-77.913044 5.565217zM325.982609 562.086957c-16.695652 0-32.596273 6.360248-44.521739 17.490683-14.310559 14.310559-22.26087 31.006211-22.26087 49.291925 0 19.080745 8.745342 38.161491 24.645963 54.062112l30.21118 30.21118c65.987578 65.192547 134.360248 131.975155 202.732919 197.962733 33.391304 31.801242 71.552795 52.47205 113.689441 60.42236 32.596273 6.360248 65.192547 9.540373 96.993789 9.540373 28.621118 0 57.242236-2.385093 85.068323-7.950311 100.968944-18.285714 147.080745-66.782609 156.621118-160.596273 8.745342-89.838509 7.950311-182.062112 6.360248-271.10559v-14.310559c-0.795031-32.596273-23.850932-54.857143-56.447205-54.857143-8.745342 0-16.695652 1.590062-25.440993 4.770187V601.043478c0 11.130435 0 32.596273-22.26087 32.596274h-0.795031c-7.15528 0-12.720497-1.590062-15.900621-5.565218-6.360248-6.360248-7.15528-18.285714-7.15528-27.826087v-4.770186c0-36.571429 0.795031-73.937888 0-111.304348-0.795031-32.596273-23.850932-55.652174-55.652174-55.652174-7.950311 0-15.900621 1.590062-23.0559 3.975155v128.795031c0 11.130435-2.385093 19.875776-7.950311 25.440994-3.975155 3.975155-9.540373 6.360248-16.695652 6.360249h-0.795031c-21.465839-0.795031-21.465839-23.055901-21.465838-31.006211v-52.47205-66.782609c0-15.10559-6.360248-31.006211-18.285715-42.931677-11.130435-11.130435-26.236025-17.490683-41.341615-17.490683-6.360248 0-13.515528 0.795031-19.875776 3.180124V442.832298c0 27.031056 0 55.652174-1.590062 83.478261-0.795031 7.15528-7.15528 12.720497-13.515528 18.285714-2.385093 2.385093-5.565217 4.770186-7.950311 7.15528l-2.385093 2.385093-1.590062-3.975155c-1.590062-2.385093-3.975155-4.770186-6.360248-6.360249-4.770186-5.565217-10.335404-11.130435-13.515528-17.490683-2.385093-4.770186-1.590062-10.335404-1.590062-15.10559v-6.360249-69.167701c0-50.881988 0-103.354037-0.795032-155.031056 0-38.161491-24.645963-63.602484-60.42236-64.397516-38.956522 0-65.192547 27.826087-65.192546 68.372671v374.459627l-10.335404 6.360249-0.795031-1.590062c-7.15528-7.950311-15.10559-15.900621-22.26087-23.850932-16.695652-17.490683-34.186335-36.571429-51.677018-54.062112-15.900621-15.10559-35.776398-23.850932-56.447205-23.850931z" fill="" />

                                                </g>

                                            </svg>
                                        </a>

                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>







@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe " crossorigin="anonymous"></script>
    <script src="~/LayoutAssets/js/aos.js"></script>
    <script src="~/LayoutAssets/js/jq.js"></script>
    <script src="~/LayoutAssets/js/jquery.sticky.js"> </script>
    <script src="~/LayoutAssets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@@2.0.12"></script>
    <script>
        function submitEdit(number) {
            let formId = "#edit-" + number;
            console.log(formId)
            $(formId).submit()
        }
        function submitDelete(number) {
            let formId = "#del-" + number;
            console.log(formId)
            $(formId).submit()
        }
        // get the model into JS
        var SupplierDTOList = @Html.Raw(Json.Serialize(Model));
        console.log(SupplierDTOList);


        $('.actions-msg').click(() => {
            $('#note-msg').fadeOut()
        })



        function submitForm() {
            let searchValue = $('#search-input').val();
            if (searchValue == '') { }
            else {
                $('#form-search').submit()
            }
        }




    </script>


    @*Validation*@
    <script>
        var inputForQuantity = document.getElementById("productQuantity");

        inputForQuantity.addEventListener("change", function () {
            var value = parseInt(inputForQuantity.value);
            if (value < 0) {
                inputForQuantity.value = 1;
            }
        });


        var inputForPrice = document.getElementById("productPrice");

        inputForPrice.addEventListener("change", function () {
            var value = parseInt(inputForPrice.value);
            if (value < 0) {
                inputForPrice.value = 0.01;
            }
        });
    </script>

    <script>



        var productDTOList = @Html.Raw(Json.Serialize(Model));
        console.log(productDTOList);


        function edit(id) {

            for (var i = 0; i < productDTOList.length; i++) {
                productDTO = productDTOList[i];

                // Check if the current object has a Name property equal to "dsds"
                if (parseInt(productDTO.id) == parseInt(id)) {
                    console.log("the product is");
                    console.log(productDTO);

                    console.log(productDTO.name)
                    $('#productName').val(productDTO.name)



                    $('#productQuantity').val(productDTO.quantity)
                    console.log(productDTO.quantity)

                    $('#productPrice').val(productDTO.price)
                    console.log(productDTO.price)

                    $('#productDescription').val(productDTO.description)
                    console.log(productDTO.description)

                    break; // Exit the loop once the element is found
                }

            }


        }


        function showInfo(clickedId) {


            let productDTO;

            for (var i = 0; i < productDTOList.length; i++) {
                productDTO = productDTOList[i];


                if (parseInt(productDTO.id) == parseInt(clickedId)) {
                    console.log("the product is");
                    console.log(productDTO);
                    break;
                }

            }

            let specification = productDTO.description;
            console.log(specification)

            $('#productSpecification').html(specification);



            var imageElement = document.querySelector('#img-src-edit');


            imageElement.setAttribute('src', productDTO.image);

        }
    </script>



    <script>
        $(document).ready(function () {

            $('#imageInput').change(function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();

                reader.onload = function (event) {
                    $('#selectedImage').attr('src', event.target.result);
                    $('#imageModal').modal('show');
                };

                // Read the file as a data URL
                reader.readAsDataURL(file);
            });

            // When the modal dialog is closed
            $('#imageModal').on('hidden.bs.modal', function (event) {
                $('#selectedImage').attr('src', '');
            });


        });
    </script>


    <script>

        $('#product').addClass('active');
    </script>



}